* {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
}

/* header */
#header {
}
#header > h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 70px;
    text-align: center;
    margin-bottom: 0;
}

/* option */
#option {
}
#option > .options {
    float: right;
}
#option > .options > span:nth-child(2) {
    color:  rgba(57, 206, 180, 1);
}
#option > .options > span:nth-child(4) {
    color:  rgba(255, 99, 71, 1)
}
#option > .options > span:nth-child(6) {
    color:   rgba(79, 118, 219, 1)
}
#option > .options > span:nth-child(8) {
    color: rgba(149, 165, 166, 1)
}


#content {
    margin-top: 20px;
}
/* content - calendar - table */
#calendar {
    float: left;
    padding-right: 10px;
    margin-bottom: 20px;
}
#calendar > table {
    width: 100%;
    font-family: "sans-serif";
    width: 100%;
    border: solid 1px #ddd;
    min-height: 400px;
    border-collapse: collapse;

}
#calendar > table th, #calendar > table td {
    text-align: center;
    border: solid 1px #ddd;
    padding: 8px;
    text-align: left;
}
#calendar > table > tbody > tr:nth-child(2n) {
    background-color: #eeeeee;
}
#calendar td .todo_item {
    margin: 5px;
    padding: 5px;
    border: groove 1px #e7e7e7;
    border-radius: 5px;
}
#calendar td .todo_item.todo {
    background-color: rgba(57, 206, 180, 0.4);
}
#calendar td .todo_item.meeting {
    background-color: rgba(255, 99, 71, 0.4);
}
#calendar td .todo_item.idea {
    background-color: rgba(79, 118, 219, 0.4);
}
#calendar td .todo_item.shopping {
    background-color: rgba(149, 165, 166, 0.4);
}




/* content - list */
#list {
    float: left;
    color: white;
}
#list > .content {
    min-height: 400px;
    width: 100%;
    padding: 10px;
    background-color:  rgba(79, 118, 204, 0.2);
}
#content .todo_item {
    margin: 5px;
    padding: 5px;
    border: groove 1px #e7e7e7;
    border-radius: 5px;
}
#content .todo_item.todo {
    background-color: rgba(57, 206, 180, 1);
}
#content .todo_item.meeting {
    background-color: rgba(255, 99, 71, 1);
}
#content .todo_item.idea {
    background-color: rgba(79, 118, 219, 1);
}
#content .todo_item.shopping {
    background-color: rgba(149, 165, 166, 1);
}

/* modal */
.modal {
    display: none;
    width: 320px;
    height: 380px;
    padding: 30px;
    background-color: lightskyblue;
    position: absolute;
    z-index: 99;
    top: 80px;
    left: 90px;
    border:  2px ridge;
    border-radius: 5px;
}
#modifyModal {
    background-color: rosybrown;
}
#modifyModal .item > span {
    cursor: pointer;
}
#modifyModalBtns{
    display: none;
}