#layout1, #layout2, #layout3, #layout4, #layout4-a, #layout4-b {
    border: solid 10px;
}

#layout1, #layout2, #layout3, #layout4 {
    height: 200px;
}
#layout4-a, #layout4-b {
    height: 180px;
}

#layout1 {
    color: red;
}
#layout2 {
    color: gray;
}
#layout3 {
    color: gold;
}
#layout4 {
    color: mediumseagreen;
}
#layout4-a {
    color: black;
}
#layout4-b {
    color: skyblue;
}